#o_container{
    display:flex;
    flex-direction:column;
    height: 100%;
    background:#F5F5F5;
    .oc_top{
        width: 100%;
        position:fixed;
        height:0.613333rem;
        background:#fff;
        font-size:0.213333rem;
        border-bottom:0.013333rem solid #ccc;
        text-align:center;
        color:#75A739;
        padding-left:0.213333rem;
        .anticon{
            margin-top:0.213333rem;
            font-size:0.213333rem;
        }
        span{
            font-size:0.213333rem;
            line-height: 0.613333rem;
            text-align:center;
        }
    }
    .ant-tabs{
        width: 100%;
        position:fixed;
        top:0.613333rem;
        .ant-tabs-bar{
            height:0.533333rem;
            margin-bottom:0;
        }
        .ant-tabs-nav{
            width: 100%;
            position:fixed;
            display:flex;
            justify-content:space-between;
            align-items:center;
            background:#fff;
            margin-bottom:0.133333rem;
            .ant-tabs-tab{
                font-size:0.186667rem;
            }
            
        }
        .ant-tabs-content{
            .ant-tabs-tabpane{
                overflow-y:auto; 
                ul{
                    height: 100%;
                    display:flex;
                    height: 100%;
                    flex-direction:column;
                    background:#F5F5F5;
                    li{
                        display:flex;
                        height:2.8rem;
                        background:#fff;
                        margin-bottom:0.133333rem;
                        flex-direction:column;
                        .one,.two,.three{
                            margin-bottom:0;
                            height:0.453333rem;
                            line-height: 0.453333rem;
                            font-size:0.186667rem;
                            padding:0 0.133333rem;
                            border-bottom:0.013333rem solid #ccc;
                        }
                        .one{
                            justify-content:space-between;
                        }
                        .sdel{
                            flex:1;
                            padding:0.186667rem 0.133333rem;
                            p{
                                margin-bottom:0;
                                font-size:0.186667rem;
                                margin-bottom:0.186667rem;
                            }
                            border-bottom:0.013333rem solid #ccc;
                            img{
                                width:0.933333rem;
                                height:0.933333rem;
                                border:0.013333rem solid #ccc;
                                margin-right:0.133333rem;

                            }
                            .sdr{
                                display:flex;
                                flex-direction:column;
                                width:100%;
                                .unit {
                                    text-align:left;
                                }
                            }

                        } 
                        .one,.sdel{
                            display:flex;
                        }
                        .two,.three{
                            text-align:right;
                        }
                        .two{
                            span{
                                color:#FF7E05;
                                &:before{
                                    content:'ï¿¥';
                                }
                            }
                            
                        }
                        .three{
                            span{
                                height: 0.346667rem;
                                color:#FF7E05;
                                border-radius:0.173333rem;
                                padding:0 0.066667rem;
                                margin-right:0.133333rem;
                                border:0.013333rem solid #FF7E05;
                            }
                        }
                    }
                }
            }
        } 
    } 
    
}