#p_container{
    display:flex;
    flex-direction:column;
    height:100%;
    .p_head{
        height:0.613333rem;
        border-bottom:0.013333rem solid #ccc;
        text-align:center;
        color:#75A739;
        padding-left:0.213333rem;
        .anticon{
            margin-top:0.213333rem;
            font-size:0.213333rem;
        }
        span{
            font-size:0.213333rem;
            line-height: 0.613333rem;
            text-align:center;
        }
    }
    .p_main{
        flex:1;
        display:flex;
        flex-direction:column;
        .pmt{
            height:1.12rem;
            display:flex;
            border-bottom:1px solid #ccc;
            justify-content:space-between;
            padding:0 0.133333rem;
            align-items:center;
            font-size:0.186667rem;
            img{
                width:0.8rem; 
                height:0.8rem; 
                border:0.013333rem solid #ccc;
            }
        }
        .pmc{
            flex:1;
            display:flex;
            flex-direction:column;
            li{
                border-bottom:0.013333rem solid #ccc;
                height:0.613333rem;
                display:flex;
                justify-content:space-between;
                align-items:center;
                padding:0 0.133333rem;
                font-size:0.186667rem
            }
        }
    }
}