html,body{
    height: 100%;
}
em,i{
    font-style: normal;
}
#app{
    height:100%;
}
.container{
    height:100%;
    display:flex;
    flex-direction:column;
}
#y_cart_header{
    height:0.6rem;
    background-color: #fff;
    ul{
        height: 100%;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:0 0.07rem;
        border-bottom:0.035rem solid #ccc;
        li{
            font-size:0.25rem;
            color:#75a739;
        }
        li:last-child{
            font-size:0.2rem;
        }
    }
}

// 主内容区
#y_cart_Main{
    flex:1;
    overflow-x:hidden;
    background-color: #eee;
}

.y_cart_Main_address{
    padding:0.15rem 0.533rem;
    position:relative;
    background-color: #fff;
    
    .y_address_name{
        font-size:0.225rem;
        color:#4b4b4b;
        margin-right:0.2rem;
    }
    .y_address_tel{
        font-size:0.26rem;
        color:#4b4b4b;
    }
    p{
        margin-top:0.07rem;
        font-size:0.2rem;
        color:#878787;
    }
    .y_right_arror{
        position:absolute;
        right:0.183rem;
        top:0.55rem;
        font-size:0.2rem;
        color:#878787;
    }
}




.y_cart_address:before{
    content: '';
    display: block;
    width: 100%;
    height: 0.01rem;
    background-image: url("../../assets/images/y_cart_border.png");
}
.y_cart_address:after{
    content: '';
    display: block;
    width: 100%;
    height: 0.01rem;
    background-image: url("../../assets/images/y_cart_border.png");
}

.y_cart_Main_list{
    padding:0.15rem 0 ; 
}
.y_cart_title{
    height: 0.4rem;
    padding: 0 0.13rem;
    font-size: 0.175rem;
    line-height: 0.4rem;
    color: #878787;
    border-bottom: 0.013333rem solid #d8d8d8;
    background-color: #FFF;

}
.y_checked{
    color:#f88000;
}
ul.y_cart_list_items{
    background-color: #FFF;
    display:flex;
    flex-direction:column;
    li.y_cart_info{
        
        display:flex;
        align-items:center;
        padding:0.07rem;
        border-top:0.013333rem solid #ccc;
        i.y_checked_icon{
            display:inline-block;
            width:0.34rem;
            height:0.34rem;
            font-size: 0.21rem;
            line-height:0.34rem;
            margin-right:0.065rem;

        }
        .y_goods_pic{
            width: 1.2rem;
            width: 1.2rem;
            img{
                width: 1.2rem;
            }
        }
        .y_goods_info{
            flex:1;
            padding-left:0.065rem;
           .y_goods_name{
                height:0.6rem;
                font-size:0.2rem;
                line-height: 0.4rem;
           } 
           .y_goods_standard{
                font-size:0.165rem;
                color:#333;
                margin-bottom:0rem;
           }
           .y_goods_price{
                font-size:0.215rem;
                color:#ff8000;
                margin-bottom:0rem;
    
           }
        }
       .y_goods_count{
            margin-right:0.065rem;
            width: 1rem;
            display:flex;
            justify-content:space-between;
            span{
                flex:1;
                font-size:0.21rem;
                text-align:center;
                .anticon{
                    color:#f88000;
                }
            }
            .y_goods_num{
                margin:0 0.2rem;
            }
       }
    }
}

// 结算部分
#y_cart_footer{
    font-style:normal;
    height: 0.65rem;
    border-top:0.0065rem solid #ddd;
    box-shadow: 0 -0.025rem 0.025rem 0 rgba(0,0,0,.15);
    display:flex;
    justify-content:space-between;
    span{
        height: 0.65rem;
        line-height: 0.65rem;
        i.y_checked_icon{
            display:inline-block;
            width:0.333rem;
            height:0.333rem;
            font-size: 0.21rem;
            line-height:0.333rem;
            margin-right:0.065rem;
            padding-left: 0.133rem;
        }
    }
    .y_select_all,em.tt{
        font-size:0.19rem;
    }
    .y_cart_total,.clearCart{
        flex:1;
        text-align:right;
        margin-right:0.1333rem;
        em.price{
            color:#ff8000;
            font-size:0.26rem;
        }
    }
    .y_cart_account,.deleteCart{
        width: 1.5rem;
        background-color: #ff8000;
        color:#fff;
        font-size:0.225rem;
        text-align:center;
    }
    .clearCart{
        color:#666;
        font-size:0.16rem;
    }
    .deleteCart{
        background-color: #ccc;
    }
}


// 最底下的切换部分，待首页人员做好再更改
.gonggong{
    height:0.42rem;
}