body {
    margin: 0;
    font-size: .18rem;
    background: #f5f5f5;
    font-weight: 300;
}

img {
    border: 0;
    width: 100%;
    display: block;
}

.home .section .list .desc h5,
.home .section .list .desc p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: .18rem;
}


.home .title h2 {
    position: relative;
    font-size: .21rem;
    color: #000;
    margin-bottom: 0;
}

.swiper-container {
    position: relative;
    overflow: hidden;
    z-index: 0;
    text-align: center;
    width: 100%;
}

.home-header {
    padding: 0;
    display: none;
    background-color: rgb(252, 255, 249);
    min-height: .37rem;
    height: auto;
    line-height: .36rem;
    border-bottom: 4px solid #ddd;
    -webkit-box-shadow: 0 0.03rem 0.03rem 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0.03rem 0.03rem 0 rgba(0, 0, 0, .2);
    .head {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-box-pack: justify;
        -o-box-pack: justify;
        box-pack: justify;
        -webkit-box-shadow: 0 0.03rem 0.03rem 0 rgba(0, 0, 0, .2);
        box-shadow: 0 0.03rem 0.03rem 0 rgba(0, 0, 0, .2);

    }
    .position {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-box-align: center;
        -o-box-align: center;
        box-align: center;
        color: #65a032;
        margin: 0 0 0 .16rem;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        img {
            width: .51rem;
            height: .14rem;
            margin-right: .05rem;
        }
    }
    i {
        width: .36rem;
        height: .36rem;
        text-align: right;
        font-size: 0.19rem;
        padding-right: 0.16rem;
        padding-top: 0.15rem;
        color: #3a3a3a;
    }
}

.home .section {
    background-color: #fff;
}

.home .flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -ms-box-pack: center;
    -o-box-pack: center;
    box-pack: center;
}

// for Carousel
.ant-carousel .slick-slide {
    text-align: center;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #58bc58;
}

// for towBanner

.home .two-ads {
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -ms-box-lines: multiple;
    -o-box-lines: multiple;
    box-lines: multiple;
    padding: 0 .075rem;
    a {
        display: block;
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box; 
        padding: .1rem .025rem 0;
    }
}
.home .inner-range {
    padding-bottom: .2rem;
}

.rollNews {
    height: 68px ;
    overflow: hidden;
    background-color: #fff;
    padding-bottom: 100px;
    position: relative;
    h2 {
        font-size: .17rem;
        display: block;
        margin-left: 30px;
        padding-right: 30px;
        border-right: 2px solid rgb(199, 198, 198);
        float: left ;
        color: #0ca00c;
        font-family: KaiTi;
        font-weight: bold;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        top: 0;
        left: 250px;
        position: absolute;
        li {
            font-size: .16rem;
            height: 34px;
            display: block;
            margin-bottom: 60px;
            a{
                color: rgb(37, 37, 37);
            }
        }
    }
}

// for plus2Banner
#h_composite {
    background-color: #f5f5f5;
    .right {
        img {

        }
    }
}
.home .composite {
    .left {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -ms-box-orient: vertical;
        -o-box-orient: vertical;
        box-orient: vertical;
        margin-right: .02rem;
        width: 1%;
    }
    img {
        max-width: 100%;
    }
    .right {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -ms-box-flex: 1;
        -o-box-flex: 1;
        box-flex: 1;
        width: 1%;
        a {
            display: block;
            &:last-child {
                margin-top: .02rem;
            }
        }
    }
}
.home .space {
    margin-top: .1rem;
}

// for hotSale
.home .hotSale h2 {
    text-align: center;
    position: relative;
    margin-bottom: 0;
    font-size: .21rem;
    color: #000;
    height: .64rem;
    font-weight: 400;
    line-height: .64rem ;
    margin: 0;
    border-bottom: 1px solid rgb(170, 170, 170);
}

// for recommends
.home .section {
    background-color: #fff;
    .list {
        .desc {
            -webkit-box-flex: 1;
            position: relative;
            margin-left: .25rem;
            width: 1%;
            text-align: left;
            line-height: normal;
            h5{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                color: #878787;
                margin-bottom: .37rem;
            }
            .tag {
                position: absolute;
                top: .55rem;
            }
        }
    }
    .tag {
        position: relative;
        left: 0;
        padding: .03rem .06rem;
        color: #fff;
        font-size: .09rem;
        background-color: #ff8a65;
        border-radius: .04rem .04rem .04rem .04rem;
    }
    .money {
            display: block;
            color: #ff8000;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: .16rem;
    }
}

.home .recommends-list {
    img {
        width: 1.2rem;
        height: 1.2rem;
    }
    .item {
        position: relative;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        -webkit-box-align: center;
        -moz-box-align: center;
        -ms-box-align: center;
        -o-box-align: center;
        box-align: center;
        padding: 0 .12rem 0 .25rem;
        height: 1.6rem;
        border-top: .005rem solid rgba(220, 220, 220, .2);
    }
    .img-box {
        position: relative;
    }
    .desc {
        h5 {
            font-size: .17rem;
            margin-bottom: .05rem;
        }
        .price {
            i {
                font-size: .3rem;
                color: #58bc58;
                position: absolute;
                top: .80rem;
                right: 0rem;
                width: .74rem;
                height: .4rem;
                text-align: right;
                line-height: .35rem;
            }
        }
    }
}

// for has-recommend & seckill
.home .seckill {
    font-size: .18rem;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    
    .swiper-slide {
        float: left;
        display: block;
        text-align: center;
        max-width: 1.12rem;
        min-width: 1rem;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: .1rem .08rem .15rem;
    }
    .img-box {
        margin: auto;
        position: relative;
        min-width: .8rem;
        min-height: .8rem;
        max-width: 1rem;
        height: 1rem;
    }
    img {
        display: inline-block;
    }
    p {
        font-size: .13rem;
        color: #3a3a3a;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: .12rem;
    }
}

// for bigImgBanner
.bigImageBanner {
    padding-top: 30px;
}

// for recommends
.section .recommends {
    .list .recommends-list{
        .item {
            position: relative;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-box;
            display: -o-box;
            display: box;
            -webkit-box-align: center;
            -moz-box-align: center;
            -ms-box-align: center;
            -o-box-align: center;
            box-align: center;
            padding: 0 .12rem 0 .25rem;
            height: 1.6rem;
            border-top: .005rem solid rgba(134, 134, 134, 1);
        }
        
        .img-box {
            position: relative;
        }
        img{
            width: 1.2rem;
            height: 1.2rem;
        }
        .desc {
            position: relative;
            margin-left: .25rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-box-flex: 1;
            -o-box-flex: 1;
            box-flex: 1;
            width: 1%;
            text-align: left;
            line-height: normal;
            h5 {
                font-size: .17rem;
                margin-bottom: .05rem;
            }
            p {
                color: #878787;
                margin-bottom: .37rem;
            }
            span {
                font-size: .16rem;
            }
        }
    }   
} 

// for BackTop
#backTop {
    // display: none;
    background-color: #f60;
    color: #FFFFCC;
    padding: 10px;
    position: fixed;
    right: 20px;
    bottom: 20px;
}

// for dialog
.dialog {
    display: none;
    z-index: 92;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: auto;
    left: 0;
    width: 100%;
    position: fixed;
    height: 100%;
    .dialog-content {
        position: fixed;
        z-index: 99; // top: 50%;
        left: 35%;
        width: 2.875rem;
        height: 1.375rem;
        min-height: 1.375rem; // margin-top: -75px;
        margin-left: -135px;
        background: #fff;
        overflow: hidden;
        border-radius: .06rem .06rem .06rem .06rem; // -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
    }
    .panel-content {
        display: table;
        width: 100%;
        height: 105px;
        color: #000;
        text-align: center;
    }
    .panel-cell {
        padding: .08rem;
        display: table-cell;
        vertical-align: middle;
        line-height: 1.6;
    }
    .panel-text {
        font-size: 0.17rem;
        overflow: auto;
    }
    .panel-buttons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-top: .01rem solid #bfbfbf;
    }
    .options {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-box;
        display: -o-box;
        display: box;
        .btn-default {
            border: none;
            color: #008eff;
        }
        .btn-primary {
            color: #008eff;
            border-left: .01rem solid #bfbfbf;
        }
        .btn {
            height: .46rem;
            line-height: .46rem;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -ms-box-flex: 1;
            -o-box-flex: 1;
            box-flex: 1;
            width: 1%;
            font-size: .17rem;
            display: block;
            text-align: center;
        }
    }
}

// for tabs
.ant-tabs-bar {
    background: rgb(252, 255, 249);
}
.ant-tabs-tab {
    font-size: .18rem;
}
.ant-tabs-nav {
    color: #58bc58;
}