#w_container{
    overflow:auto; 
    height: 100%;
    display:flex;
    background:#F8F8F7;
    flex-direction:column;
    .w_head{
        height:2.533333rem;
        display:flex;
        flex-direction:column;
        .h_top{
            display:flex;
            justify-content:space-between;
            align-items:center;
            padding:0 0.213333rem 0 0.266667rem;
            .htl{
                display:flex;
                img{
                    height:0.8rem;
                    width:0.8rem;
                    margin-right:0.213333rem;
                    border:0.013333rem solid #ccc;
                }
                .htl_r{
                    .one{
                        font-size:0.186667rem;
                    }
                    .two{
                        height:0.24rem;
                        width: 0.933333rem;
                        border-radius:0.12rem;
                        background:#FF8000;
                        text-align:center;
                        line-height: 0.24rem;
                        font-size:0.133333rem;
                        color:#fff;
                    }
                }
            }
            .htr{
                display:flex;
                flex-direction:column;
                align-items:center;
                .anticon{
                    font-size:0.4rem;
                }
                span{
                    font-size:0.186667rem;
                }               
            }
        }
        .sa{
            flex:1;
            display:flex;
        }
        .h_bottom{
            justify-content:space-around;
            li{
                flex:1;
                display:flex;
                flex-direction:column;
                justify-content:center;
                align-items:center;
                a{
                    font-size:0.186667rem;
                    color:#000;
                }
                span{
                    color:#FF8000;
                    font-size:0.186667rem;
                }
            }
        }
    }
    .w_main{
        flex:1;
        display:flex;
        flex-direction:column;
        background:#ddd;
        .wm_h{
            margin-bottom:0.133333rem;
            height:1.68rem;
            background:#fff;
            display:flex;
            flex-direction:column;
            .wmht{
                padding:0 0.213333rem;
                display:flex;
                justify-content:space-between;
                align-items:center;
                font-size:0.213333rem;
                border-bottom:0.013333rem solid #ccc;
                height:0.613333rem;
                div{
                    .ord1{
                        font-size:0.333333rem;
                        vertical-align: middle;
                        margin-right:0.213333rem;
                    }
                    .ord2{
                        font-size:0.213333rem;
                    }
                }
            }
            .wmhc{
                display:flex;
                flex:1;
                justify-content:space-around;
                li{
                    flex:1;
                    display:flex;
                    flex-direction:column;
                    justify-content:center;
                    align-items:center;
                    .anticon{
                        font-size:0.266667rem;
                    }
                    a{
                        font-size:0.186667rem;
                        color:#000;
                    }
                }
            }
        }
        .wm_m{
            .wmmc{
                height:2.346667rem;
                background:#fff;
                display:flex;
                flex-direction:column;
                margin-bottom:0.133333rem;
                li{
                    display:flex;
                    flex:1;
                    border-bottom:0.013333rem solid #ccc;
                    justify-content:space-between;
                    align-items:center;
                    padding:0 0.2rem;
                    a,i{
                        font-size:0.186667rem;
                        color:#000;
                    }
                    a{
                        .anticon{
                            font-size:0.24rem;
                            margin-right:0.133333rem;
                        }
                    }
                }
            }
        }
    }
}