$color:#FF8000;
#details{
    P{
        margin: 0;
    }
    height: 100%;
    display:flex;
    flex-direction:column;
    .data_header{
            position:flex;
            top:0;
            color:#75A739;
            background-color:#F8F8F8;
            height:0.6rem;
            border-bottom:1px solid #D8D8D8;      
               display:flex;
               padding:0.106667rem 0.266667rem;
                p{
                text-align:center;
                flex:1;
                font-size:0.266667rem; 
                line-height: 0.0.002667rem;
                position:relative;                
                }
                p:nth-child(1){
                    text-align:left;
                }
                p:nth-child(2){
                    font-size:0.213333rem;
                } 
                p:nth-child(3){
                    text-align:right;
                } 
    }
   .center{
    flex:1;
    overflow:auto;
   }
    .cart{
        position:flex;
        bottom:0.133333rem;
        padding-left:0.10101rem;
        display:flex;       
        div{
            position:relative;
            background-color:#fff;
            flex:1;
            border-top:1px solid #D4D4D4;
                a{
                position:absolute;
                top:-0.10101rem;
                display:block;
                width: 0.693333rem;
                height: 0.693333rem;          
                border-radius:50%;
                background-color:#65A032;         
                color:#fff;
                    i{
                    text-align:center;
                      padding-top:0.10101rem;

                      font-size:0.533333rem;   
                    }

                 }
                  .totalQty{
            text-align:center;
            display:block;
            width: 0.266667rem;
            height: 0.266667rem;
            font-size:0.186667rem;
            position:absolute;
            top:-0.2rem;
            left:0.433333rem;
            background-color:#FF8000;
            border-radius:50%;
            color:#fff;
        }


            }
            div:nth-child(2){
                background-color:$color;
                color:#fff;
                text-align:center;
                line-height:0.565657rem;
                span:nth-child(1){
                    font-size:0.181818rem;
                    margin-right:0.10101rem;
                }
                span:nth-child(2){
                    font-size:0.242424rem;
                }
            }
     }  
}