#l_container{
    background:rgb(246,246,246);
    height:100%;
    display:flex;
    flex-direction:column;
    padding:0.133333rem 0.4rem 0 0.186667rem;
    .l_top{
        p{
            color:#75A739;
            font-size:0.266667rem;
            text-align:center;
            .fl{
                float:left;
                margin-top:0.133333rem;
                vertical-align:middle;
            }
            span{
                vertical-align:middle;
            }
        }
        
    }
    .l_banner{
        height:2.453333rem;
        width: 100%;
        float:left;
        img{
            width:100%;
            height: 100%;
        }
    }
    .l_main{
        flex:1;
        display:flex;
        flex-direction:column;
        padding-left:0.213333rem;
        p{
            position:relative;
            .ant-input{
                padding-left:0.453333rem;
            }
            .phone{
                width:69%;
            }
            .anticon{
                font-size:0.266667rem;
                position: absolute;
                top:0.106667rem;
                left:0.066667rem;
                z-index:1;
            }
            .ant-input,.ant-btn{
                font-size:0.213333rem;
                height:0.48rem;
            }
            .login,.register{
                width: 100%;
            }
            
        }
        .cont{
            font-size:0.16rem;
        }
        .footer{
            font-size:0.16rem;
            color:#FF9933;
        }
    }

}