<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>鍒嗙被</title>
        <link rel="stylesheet" type="text/css" href="../../basescss/base.scss" />
    </head>
    <body>
        <div id="classify_container">
            <div className="classify_left">
                <ul>
                <img src="" alt="" />
                    <li><span>果园优选</span></li>
                    <li><span>新鲜水果</span></li>
                    <li><span>水产海鲜</span></li>
                    <li><span>肉禽蛋类</span></li>
                    <li><span>乳品速食</span></li>
                    <li><span>时令鲜蔬</span></li>
                    <li><span烘焙料理></span></li>
                    <li><span>粮油干货</span></li>
                    <li><span>酒水饮料</span></li>
                    <li><span>礼盒券卡</span></li>
                    <li><span>果园周边</span></li>
                </ul>
            </div>
            <div className="classify_left">right</div>
        </div>
    </body>
</html>